<div class="row">
   <div class="col-8 border">
  {{graph/cytoscape-graph
      model=model
      rootModel=productModel
      bottonHierarchyLevel = bottonHierarchyLevel
      apolloQueryId = apolloHierarchyQueryId
      queryHierarchy = hierarchyQuery
      onNodeClicked=(action "graphNodeClicked")}}
  </div>
   <div class="col">
    {{#if showHierarchyNodeCard}}
    <div class="card">
      <div class="card-header">
        Product
      </div>
      <div class="card-body">
        <p>Key: {{hierarchyNode._key}}</p>
        <p>Name: {{#link-to "products.show.show-detail" hierarchyNode._key}} {{hierarchyNode.name}} {{/link-to}} </p>
        <p>Hierarchy Level: {{hierarchyNode.hierarchyLevel}}</p>
        <p>Valid From: {{hierarchyNode.validFrom}}</p>
        <p>Valid Thru: {{hierarchyNode.validThru}}</p>
      </div>
    </div>
    {{/if}}
    {{#if showHierarchyEdgeCard}}
    <div class="card">
      <div class="card-header">
        Relationship
      </div>
      <div class="card-body">
        <p>Parent Key: {{hierarchyEdgeParent._key}}</p>
        <p>Parent Name: {{#link-to "products.show.show-detail" hierarchyEdgeParent._key}}
                        {{hierarchyEdgeParent.name}}
                        {{/link-to}} </p>
        <p>Child Key: {{hierarchyEdge._key}}</p>
        <p>Child Name: {{#link-to "products.show.show-detail" hierarchyEdge._key}} {{hierarchyEdge.name}} {{/link-to}} </p>
        <p>Hierarchy From: {{hierarchyEdge.eValidFrom}}</p>
        <p>Hierarchy Thru: {{hierarchyEdge.eValidThru}}</p>
      </div>
    </div>
    {{/if}}
  </div>
 </div>
 <br>
<table class="table table-hover table-bordered table-sm listing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Hierarchy</th>
      <th>valid From</th>
      <th>valid Thru</th>
      <th>Hierarchy From</th>
      <th>Hierarchy Thru</th>
    </tr>
  </thead>
  <tbody class='mybody'>
    {{#each model as |productRow| }}
      <tr class="myrow">
        <td class="name">
          {{#link-to "products.show.show-detail" productRow._key}} {{productRow.name}} {{/link-to}}
        </td>
        <td class="key">{{productRow._key}}</td>
        <td class="hierarchyLevel">{{productRow.hierarchyLevel}}</td>
        <td class="validFrom">{{productRow.validFrom}}</td>
        <td class="validThru">{{productRow.validThru}}</td>
        <td class="eValidFrom">{{productRow.eValidFrom}}</td>
        <td class="eValidThru">{{productRow.eValidThru}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<!--{{outlet}} -->
