  <table class="table table-hover table-bordered table-sm listing">
    <thead>
      <tr>
        <th>Name</th>
        <th>key</th>
        <th>Formula</th>
        <th>Type</th>
        <th>Validity Date</th>
        <th>Calculation Order</th>
      </tr>
    </thead>
    <tbody class='mybody'>
      {{#each custKpiFormula as |custKpiFormulaRow| }}
        <tr class="myrow">
          <td>
            {{#link-to "cust-kpi-formulas.show" custKpiFormulaRow._key class="name"}}
              {{custKpiFormulaRow.name}}
            {{/link-to}}
          </td>
          <td class="key">{{custKpiFormulaRow._key}}</td>
          <td class="formula">{{custKpiFormulaRow.formula}}</td>
          <td class="type">{{custKpiFormulaRow.type}}</td>
          <td class="validityDate">{{custKpiFormulaRow.validityDate}}</td>
          <td class="calculationOrder">{{custKpiFormulaRow.calculationOrder}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <!--
<article class="listing">
  <h4>
    {{#link-to "cust-kpi-formulas.show" custKpiFormula._key class="custKpiFormula._key"}}
      {{custKpiFormula.name}}
    {{/link-to}}
  </h4>
  <div class="detail key">
    <span>Key:</span> {{custKpiFormula._key}}
  </div>
  <div class="detail formula">
    <span>Formula:</span> {{custKpiFormula.formula}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{custKpiFormula.type}}
  </div>
  <div class="detail validityDate">
    <span>Validity Date:</span> {{custKpiFormula.validityDate}}
  </div>
  <div class="detail calculationOrder">
    <span>Calculation Order:</span> {{custKpiFormula.calculationOrder}}
  </div>
</article> -->

{{yield}}
