<div class="row">
  <div class="col-2">
    {{input id="nameSearch" placeholder="Name" class="inputboxsized" value=name}}
    {{input id="stateSearch" placeholder="State" class="inputboxsized" value=state}}
    {{input id="citySearch" placeholder="City" class="inputboxsized" value=city}}
    {{input id="keySearch" placeholder="Key" class="inputboxsized" value=key}}
    <button class="btn btn-primary btn-sm refreshBtn" {{action "refreshData" name key state city }}>Refresh</button>
    <button class="btn btn-secondary btn-sm resetBtn" {{action "resetqueryParams"}}>Reset</button>
   </div>
  <div class="col">
    <!-- <label for="nameSearch"> Name: </label> {{input id="nameSearch" value=name}}
    <button class="btn btn-secondary btn-sm refreshBtn" {{action "refreshData" name}}>Refresh</button> -->
    <!-- {{customer/customer-listing customer = filteredModel}} -->
    {{customer/customer-listing customer = model}}
  </div>
</div>


{{outlet}}
