{{input value = name}}
{{#link-to "cust-kpi-formulas.new" class="btn btn-primary btn-sm newBtn"}}New{{/link-to}}
<button class="btn btn-secondary btn-sm refreshBtn" {{action "refreshData" name}}>Refresh</button>

{{cust-kpi-formula-listing custKpiFormula = model}}
  <!-- {{#each model as |custKpiFormulaRow| }}
    {{cust-kpi-formula-listing custKpiFormula = custKpiFormulaRow}}
  {{/each}} -->

{{outlet}}
