<div class="container bg-white" >
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Layout</label>
            </div>
            <select class="custom-select" onchange={{action "setselectedLayout" value="target.value" }}>
              <!-- <option value="random">Random</option>
              <option value="grid">Grid</option>
              <option value="circle">Circle</option>
              <option value="concentric">Concentric</option>
              <option value="cose">Cose</option>
              <option value="breadthfirst">Breadthfirst</option> -->
              {{#each graphLayouts as |layoutOption| }}
                <option value={{layoutOption.value}}>{{layoutOption.label}}</option>
              {{/each}}
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" {{action "restyle"}}>Restyle</button>
            </div>
          </div>
          <!-- <button type="button" class="btn btn-outline-secondary btn-sm">Restyle</button> -->
  <div id="cy"></div>
</div>
{{yield}}
